defaultEntryPoints = ["http"]

[log]
    level = "DEBUG"

[api]
    dashboard = true

[accessLog]


[providers]
    providersThrottleDuration = 10
    [providers.file]
    filename = "traefik.toml"
    directory = "/etc/traefik/"
    watch = true


[entryPoints]
    [entryPoints.web]
        address = ":10000"

[http.routers]
    [http.routers.django]
        service = "django"
        rule = "PathPrefix(`/api`) || PathPrefix(`/social_accounts`)"
        entrypoints = ["web"]

    [http.routers.react]
        service = "react"
        rule = "PathPrefix(`/`)"
        entrypoints = ["web"]

    [http.routers.nftmarketplace_next]
        service = "nftmarketplace_next"
        rule = "PathPrefix(`/marketplace`)"
        entrypoints = ["web"]
    

[http.services]
  [http.services.react.loadBalancer]
    [[http.services.react.loadBalancer.servers]]
      url = "http://frontend:5173"

  [http.services.nftmarketplace_next.loadBalancer]
    [[http.services.nftmarketplace_next.loadBalancer.servers]]
      url = "http://nftMarketplace:3000"

  [http.services.django.loadBalancer]
    [[http.services.django.loadBalancer.servers]]
      url = "http://backend:8000"